<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <h1></h1>
        <nav>
            <a href="{{ url_for('main.home') }}"></a>
            <a href="{{ url_for('main.about') }}"></a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; </p>
    </footer>
    <script src="{{ url_for('static', filename='src/script.js') }}"></script>
</body>
</html>
